# D1_1. Carga de Datos

## Carga de datos a través de la función read_csv

In [1]:
import pandas as pd
import os

In [2]:
# load data
path = '/home/rho/gdrive/Personales/Robert/Santoto/20211/Maestria_DM_ML/01_Semana1/01B_clase/'
fullpath = os.path.join(path, 'base_arboles.csv')
arbol = pd.read_csv(fullpath, sep = ';')
arbol.head()

   objectid       fisiologia     altura  diametro   pap  perimetro  altura_fus
0     58566     Perennifolio   8.971847      2.00  0.40       0.45    2.523279
1    144860  Semicaducifolio   7.510006      4.00  0.29       0.35    3.081373
2    146014  Semicaducifolio  15.186397      7.57  1.63       2.14    5.509542
3    151897  Semicaducifolio  11.940282      7.00  0.70       1.74    4.560590
4     15787      Caducifolio   1.600000      0.80  0.00       0.23    0.550000

Otra forma de cargas los datos

In [3]:
# load data
arbol = pd.read_csv(path + 'base_arboles.csv', sep = ';')
arbol.head()

   objectid       fisiologia     altura  diametro   pap  perimetro  altura_fus
0     58566     Perennifolio   8.971847      2.00  0.40       0.45    2.523279
1    144860  Semicaducifolio   7.510006      4.00  0.29       0.35    3.081373
2    146014  Semicaducifolio  15.186397      7.57  1.63       2.14    5.509542
3    151897  Semicaducifolio  11.940282      7.00  0.70       1.74    4.560590
4     15787      Caducifolio   1.600000      0.80  0.00       0.23    0.550000

Nombres de las columnas de la base de datos

In [6]:
arbol.columns.values

array(['objectid', 'fisiologia', 'altura', 'diametro', 'pap', 'perimetro',
       'altura_fus'], dtype=object)

In [7]:
arbol.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 998 entries, 0 to 997
Data columns (total 7 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   objectid    998 non-null    int64
 1   fisiologia  998 non-null    object
 2   altura      997 non-null    float64
 3   diametro    989 non-null    float64
 4   pap         998 non-null    float64
 5   perimetro   998 non-null    float64
 6   altura_fus  998 non-null    float64
dtypes: float64(5), int64(1), object(1)
memory usage: 54.7+ KB

In [8]:
arbol.fisiologia.value_counts()

Caducifolio        397
Perennifolio       375
Semicaducifolio    226
Name: fisiologia, dtype: int64

In [10]:
arbol.altura.describe()

count    997.000000
mean       5.456674
std        4.783082
min        0.370000
25%        2.161189
50%        3.604811
75%        7.165182
max       28.415010
Name: altura, dtype: float64

In [13]:
arbol.isnull().sum()

objectid      0
fisiologia    0
altura        1
diametro      9
pap           0
perimetro     0
altura_fus    0
dtype: int64

Eliminar valores perdidos

In [14]:
arbol = arbol.dropna()

In [15]:
arbol.isnull().sum()

objectid      0
fisiologia    0
altura        0
diametro      0
pap           0
perimetro     0
altura_fus    0
dtype: int64

# Cargar datos leyendo línea a línea

In [38]:
arbol2 = open(path + 'base_arboles.csv','r')

In [39]:
columnas = arbol2.readline().strip().split(";")
n_cols = len(columnas)

In [40]:
conta = 1
dicc = {}
for jj in columnas:
    dicc[jj] = []

In [34]:
for fila in arbol2:
    values = fila.strip().split(";")
    for kk in range(len(columnas)):
        dicc[columnas[kk]].append(values[kk])
    conta += 1

print("La base tiene %s filas y %s columnas"%(conta-1, n_cols))

La base tiene 998 filas y 7 columnas

In [33]:
arbol3 = pd.DataFrame(dicc)
arbol3.head()

,objectid,fisiologia,altura,diametro,pap,perimetro,altura_fus
0,58566,Perennifolio,8.97184658050537,2,0.400000005960464,0.449999988079071,2.52327871322631
1,144860,Semicaducifolio,7.51000642776489,4,0.28999999165535,0.349999994039536,3.08137273788452
2,146014,Semicaducifolio,15.1863965988159,7.57000017166137,1.62999999523162,2.14000010490417,5.50954151153564
3,151897,Semicaducifolio,11.9402818679809,7,0.699999988079071,1.74000000953674,4.56058979034423
4,15787,Caducifolio,1.60000002384185,0.800000011920928,0,0.230000004172325,0.550000011920928

## Leer desde excel

In [45]:
os.path.join(path, 'base_arboles.xlsx')

'/home/rho/gdrive/Personales/Robert/Santoto/20211/Maestria_DM_ML/01_Semana1/01B_clase/base_arboles.xlsx'

In [51]:
arbol_xl = pd.read_excel(os.path.join(path, 'base_arboles.xlsx'), engine='openpyxl'url =

In [52]:
arbol_xl.head()

   objectid       fisiologia     altura  diametro   pap  perimetro  altura_fus
0     58566     Perennifolio   8.971847      2.00  0.40       0.45    2.523279
1    144860  Semicaducifolio   7.510006      4.00  0.29       0.35    3.081373
2    146014  Semicaducifolio  15.186397      7.57  1.63       2.14    5.509542
3    151897  Semicaducifolio  11.940282      7.00  0.70       1.74    4.560590
4     15787      Caducifolio   1.600000      0.80  0.00       0.23    0.550000

In [54]:
arbol_xl.isnull().sum()

objectid      0
fisiologia    0
altura        1
diametro      9
pap           0
perimetro     0
altura_fus    0
dtype: int64

## Leer desde URL

In [55]:
url = 'http://winterolympicsmedals.com/medals.csv'
datos_url = pd.read_csv(url)
datos_url.head()

,Year,City,Sport,Discipline,NOC,Event,Event gender,Medal
0,1924,Chamonix,Skating,Figure skating,AUT,individual,M,Silver
1,1924,Chamonix,Skating,Figure skating,AUT,individual,W,Gold
2,1924,Chamonix,Skating,Figure skating,AUT,pairs,X,Gold
3,1924,Chamonix,Bobsleigh,Bobsleigh,BEL,four-man,M,Bronze
4,1924,Chamonix,Ice Hockey,Ice Hockey,CAN,ice hockey,M,Gold